<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VSB</title>
  <link rel="icon" href="/uploads/logo.png" />
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/css.css" rel="stylesheet" />
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
  <div class="" id="app">
    <div v-for="user in users">
      <header>
        <div v-if="user.role === 'student'" class="d-inline">
          <nav class="navbar navbar-expand-lg navbar-light p-0" id="backgroud_nav">
            <div class="container-fluid ">
              <a class="navbar-brand" :href="'/home/' + user.user_id">
                <img src="/uploads/logo.png" alt="" width="45px" height="45px" />
              </a>
              <div class="d-flex">
                <a class="navbar-brand my-auto ms-auto myAnimNav" :href="'/allcourse/'
                + user.user_id">
                  <span class="text_nav navhover">
                    All Course
                  </span>
                </a>
                <a class="navbar-brand my-auto ms-auto myAnimNav" :href="'/allcourse/' + user.user_id +
                  '/mycourse'">
                  <span class="text_nav navhover">
                    My Course
                  </span>
                </a>
                <a class="my-auto ms-auto text_nav myAnimNav" :href="'/mycart/' + user.user_id">
                  <span class="navhover">
                    My Cart</span>
                </a>
                <li class="nav dropdown">

                  <a class="nav-link dropdown-toggle my-auto ms-auto text_nav navhover myAnimNav" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>
                      <img :src="user.image" alt="" width="45" height="45" class="d-inline-block imgNav" />
                      {{user.user_fname}}</span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li>
                      <a class="dropdown-item" :href="'/profile/' +
                        user.user_id + '/'">Profile</a>
                    </li>
                    <li>
                      <a class="dropdown-item" :href="'/sign-out/' + user.user_id">Logout</a>
                    </li>
                  </ul>
              </div>
          </nav>
        </div>
        <div v-else-if="user.role === 'teacher'" class="d-inline">
          <nav class="navbar navbar-expand-lg navbar-light p-0" id="backgroud_nav">
            <div class="container-fluid">
              <a class="navbar-brand" :href="'/home/' + user.user_id">
                <img src="/uploads/logo.png" alt="" width="45" height="45" />
              </a>
              <div class="d-flex">
                <a class="navbar-brand my-auto ms-auto myAnimNav" :href="'/allcourse/' + user.user_id">
                  <span class="text_nav navhover">
                    All Course
                  </span>
                </a>
                <a class="text_nav myAnimNav my-auto ms-auto" :href="'/teacher/' + user.user_id">
                  My Course
                </a>
                <li class="nav dropdown">
                  <a class="nav-link dropdown-toggle text_nav my-auto ms-auto myAnimNav" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img :src="user.image" alt="" width="45" height="45" class="d-inline-block imgNav" />
                    {{ user.user_fname }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li>
                      <a class="dropdown-item" :href="'/profile/' +
                        user.user_id + '/'">Profile</a>
                    </li>
                    <li>
                      <a class="dropdown-item" :href="'/sign-out/' + user.user_id">Logout</a>
                    </li>
                  </ul>
                </li>
              </div>
            </div>
          </nav>
        </div>
      </header>
    </div>
    <div class="container">
      <% if (message.length > 0) { %>
      <div class="w-50 mx-auto alert alert-danger mt-3 text-center alert-dismissible fade show">
        <i class="bi bi-exclamation-triangle-fill text-danger iconcart"></i>
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
      <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
          <img src="/uploads/search.png" alt="Girl in a jacket" width="50px" height="50px" />
          <input type="text" class="form-control form-inline bg_course" placeholder="Search" v-model="search" />
        </div>

        <div class="col-md-6 col-sm-12 text-md-end mt-3 mt-md-2">
          <select v-model="sorted" class="form-select form-inline" style="width: auto;">
            <option value="">Filters</option>
            <option value="alpha">Sort by Alphabet</option>
            <option value="price">Sort by Price</option>
          </select>
        </div>

        <div class="row" v-if="search == ''">
          <div v-if="sorted == ''" class="row mt-5">
            <h5>All Course</h5>
          </div>
        </div>
        <div class="row mt-4" v-if="search != ''">
          <h5>Result of "{{search}}"</h5>
        </div>
        <div v-if="search == ''">
          <div class="row mt-4" v-if="sorted != ''">
            <h5>Sort by "{{sorted}}"</h5>
          </div>
        </div>
        <div class="row px-4" v-for="user in users">
          <div class="col-sm-12 col-md-6 col-xl-4 my-3" v-for="course in computedCourses">
            <a :href="'/course/' + course.course_id + '/' + user.user_id" class="card my_card myAnim bg-light" style="width: 20rem; text-decoration: none; color: black">
              <img :src="course.image" class="my_img card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title text-center">
                  <b>
                    {{ course.course_name }} </b>
                </h5>
                <p class="card-text text-center">
                  {{ course.course_info }}
                </p>
                <div v-if="course.course_info.length < 80">
                  <br><br>
                </div>
                <div class="row">
                  <div class="col-6">Courses price</div>
                  <div class="col"></div>
                  <div class="col text-danger text-end">
                    {{ course.course_price }}฿
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="text-muted text-center nocourse2 position-relative" v-if="filteredList == 0">
            <h1 class="position-absolute top-50 start-50 translate-middle">NO RESULT</h1>
          </div>
        </div>
      </div>
    </div>

    <br>
    <footer class="mt-5 footer bg-light">
      <div class="container" v-for="user in users">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="my-3">
              <h4>Course Recommendation</h4>
              <div class="line1"></div>
              <div class="my-3">
                <a class="text-decoration-none text-dark" :href="'/course/3/' + user.user_id">
                  <p class="ms-3"> Web Design for Beginners</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/15/' + user.user_id">
                  <p class="ms-3"> Cyber Security </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/4/' + user.user_id">
                  <p class="ms-3"> IELTS Full Course </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/7/' + user.user_id">
                  <p class="ms-3"> SQL- Database Programming </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/6/' + user.user_id">
                  <p class="ms-3"> C++ Programming Course </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/10/' + user.user_id">
                  <p class="ms-3"> Digital marketing </p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="my-3 text-center">
              <h4> Navigate</h4>
              <div class="line2"></div>
              <div class="my-3">
                <a :href="'/home/' + user.user_id" class="text-decoration-none text-dark">
                  <p>Home</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/allcourse/' + user.user_id">
                  <p>All Courses</p>
                </a>
                <a v-if="user.role == 'student'" class="text-decoration-none text-dark" :href="'/allcourse/' + user.user_id + '/mycourse'">
                  <p>My Course</p>
                </a>
                <a v-else-if="user.role == 'teacher'" class="text-decoration-none text-dark" :href="'/teacher/' + user.user_id">
                  <p>My Course</p>
                </a>
                <a v-if="user.role == 'student'" class="text-decoration-none text-dark" :href="'/mycart/' + user.user_id">
                  <p>My cart</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="my-3 text-center">
              <h4> Contact </h4>
              <div class="line2"></div>
              <div class="my-3">
                <p><i class="text-primary bi bi-envelope-fill"></i> VSB@email.com</p>
                <p><i class="text-success bi bi-telephone-fill"></i> 02-333-22-32</p>
                <p><i class="text-warning bi bi-geo-alt-fill"></i> Ministry of Magic Headquarters, Whitehall, London</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <hr>
            <div class="my-3 text-center iconfooter">
              <a class="text-decoration-none" href="https://www.facebook.com/harrypottermovie">
                <i class="bi bi-facebook text-primary mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://twitter.com/HarryPotterFilm">
                <i class="bi bi-twitter text-info mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://github.com/ChutimaNakaew/Project_VSB">
                <i class="bi bi-github text-dark mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://www.linkedin.com/in/harry-potter-9b3b89102/">
                <i class="bi bi-linkedin text-primary mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://www.youtube.com/watch?v=z4K2F_OALPQ">
                <i class="bi bi-youtube text-danger mx-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        courses: JSON.parse(`<%- courses %>`),
        users: JSON.parse(`<%- users %>`),

        sorted: "",
        idCounter: 16,
        search: "",
      },
      computed: {
        filteredList() {
          return this.courses.filter(post => {
            return post.course_name.toLowerCase().includes(this.search.toLowerCase())
          })
        },
        computedCourses() {
          this.courses.map((b) => {
            if (b.course_info.length > 90) {
              b.course_info = b.course_info.substring(0, 90) + "..."
            }
            return b
          })

          function compareAlpha(a, b) {
            if (a.course_name < b.course_name) {
              return -1
            } else if (a.course_name > b.course_name) {
              return 1
            } else {
              return 0
            }
          }

          function compareID(a, b) {
            if (a.course_id < b.course_id) {
              return -1
            } else if (a.course_id > b.course_id) {
              return 1
            } else {
              return 0
            }
          }

          function comparePrice(a, b) {
            if (a.course_price < b.course_price) {
              return -1
            } else if (a.course_price > b.course_price) {
              return 1
            } else {
              return 0
            }
          }

          let res = this.courses.filter(post => {
            return post.course_name.toLowerCase().includes(this.search.toLowerCase())
          })

          if (this.sorted == "" && this.search != "") {
            return res
          } else if (this.sorted == "alpha") {
            return res.sort(compareAlpha)
          } else if (this.sorted == "sortID") {
            return res.sort(compareID)
          } else if (this.sorted == "price") {
            return res.sort(comparePrice)
          } else {
            return this.courses
          }
        },
      },
    })
  </script>
</body>

</html>