<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VSB</title>
  <link rel="icon" href="../uploads/logo.png" />
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/css.css" rel="stylesheet" />
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-light" id="backgroud_nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/uploads/logo.png" alt="" width="45" height="45" />
      </a>
      <div class="d-flex">
        <a class="nav-link active text-dark fs-6" aria-current="page" href="/sign-up">Sign up</a>
        <a class="nav-link text-dark fs-6" href="/sign-in">Login</a>
      </div>
    </div>
  </nav>
</header>

<body>
  <div id="app">
    <div class="container">

      <div class="my-5 text-center alert alert-danger w-50 mx-auto" role="alert" v-if="alert">
        <span><i class="fs-4 bi bi-exclamation-circle text-danger"></i> You haven't signed in. Please sign in first.</span>
      </div>

      <div class="row mt-4">
        <div class="col-md-6 col-sm-12">
          <img src="/uploads/search.png" alt="Girl in a jacket" width="50px" height="50px" />
          <input type="text" class="form-control form-inline bg_course" placeholder="Search" v-model="search" />
        </div>
        <div class="col-md-6 col-sm-12 text-md-end mt-3 mt-md-2">
          <select v-model="sorted" class="form-select form-inline" style="width: auto;">
            <option value="">Filters</option>
            <option value="alpha">Sort by Alphabet</option>
            <option value="price">Sort by Price</option>
          </select>
        </div>

        <div v-if="search === ''">
          <div class="row mt-4" v-if="sorted === ''">
            <h5>All Course</h5>
          </div>
          <div class="row mt-4" v-if="sorted != ''">
            <h5>Sort by {{sorted}}</h5>
          </div>
          <div class="row px-4">
            <div class="col-sm-12 col-md-6 col-xl-4 my-3" v-for="course in
          computedCourses">
              <a :href="'/allcourse/course/' + course.course_id" class="card myAnim
            bg-light" style="width: 20rem; text-decoration: none; color: black">
                <img :src="course.image" class="my_img card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title text-center">
                    <b>
                      {{ course.course_name }} </b>
                  </h5>
                  <p class="card-text text-center">
                    {{ course.course_info }}
                  </p>
                  <div class="row">
                    <div class="col-6">Courses price</div>
                    <div class="col"></div>
                    <div class="col text-danger">
                      {{ course.course_price }}฿
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div v-if="search != ''">
          <div class="row mt-4">
            <div>
              <h5>Result of "{{search}}"</h5>
            </div>
          </div>
          <div class="row px-4">
            <div class="col-sm-12 col-md-6 col-xl-4 my-3" v-for="course in filteredList">
              <a :href="'/allcourse/course/' + course.course_id" class="card myAnim
            bg-light" style="width: 20rem; text-decoration: none; color: black">
                <img :src="course.image" class="my_img card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title text-center">
                    <b>
                      {{ course.course_name }} </b>
                  </h5>
                  <p class="card-text text-center">
                    {{ course.course_info }}
                  </p>
                  <div class="row">
                    <div class="col-6">Courses price</div>
                    <div class="col"></div>
                    <div class="col text-danger">
                      {{ course.course_price }}฿
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="text-muted text-center nocourse2 position-relative" v-if="filteredList == 0">
          <h1 class="position-absolute top-50 start-50 translate-middle">NO RESULT</h1>
        </div>
      </div>
    </div>
    <br>
    <footer class="mt-5 footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="my-3">
              <h4>Course Recommendation</h4>
              <div class="line1"></div>
              <div class="my-3">
                <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/course/3">
                  <p class="ms-3"> Web Design for Beginners</p>
                </a>
                <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/course/15">
                  <p class="ms-3"> Cyber Security </p>
                </a>
                <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/course/4">
                  <p class="ms-3"> IELTS Full Course </p>
                </a>
                <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/course/7">
                  <p class="ms-3"> SQL- Database Programming </p>
                </a>
                <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/course/6">
                  <p class="ms-3"> C++ Programming Course </p>
                </a>
                <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/course/10">
                  <p class="ms-3"> Digital marketing </p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="my-3 text-center">
              <h4> Navigate</h4>
              <div class="line2"></div>
              <div class="my-3">
                <a class="text-decoration-none text-dark" href="/">
                  <p>Home</p>
                </a>
                <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/">
                  <p>All Courses</p>
                </a>
                <a class="text-decoration-none text-dark" href="#" @click="alertlog()">
                  <p>My Course</p>
                </a>
                <a class="text-decoration-none text-dark" href="#" @click="alertlog()">
                  <p>My cart</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="my-3 text-center">
              <h4> Contact </h4>
              <div class="line2"></div>
              <div class="my-3">
                <p><i class="text-primary bi bi-envelope-fill"></i> VSB@email.com</p>
                <p><i class="text-success bi bi-telephone-fill"></i> 02-333-22-32</p>
                <p><i class="text-warning bi bi-geo-alt-fill"></i> Ministry of Magic Headquarters, Whitehall, London</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <hr>
            <div class="my-3 text-center iconfooter">
              <a class="text-decoration-none" href="https://www.facebook.com/harrypottermovie">
                <i class="bi bi-facebook text-primary mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://twitter.com/HarryPotterFilm">
                <i class="bi bi-twitter text-info mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://github.com/ChutimaNakaew/Project_VSB">
                <i class="bi bi-github text-dark mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://www.linkedin.com/in/harry-potter-9b3b89102/">
                <i class="bi bi-linkedin text-primary mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://www.youtube.com/watch?v=z4K2F_OALPQ">
                <i class="bi bi-youtube text-danger mx-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        courses: JSON.parse(`<%- courses %>`),
        sorted: "",
        idCounter: 16,
        search: "",
        alert: false,
      },
      methods: {
        alertlog() {
          this.alert = true;
          setTimeout(() => this.alert = false, 2000);
        }
      },
      computed: {
        filteredList() {
          return this.courses.filter(post => {
            return post.course_name.toLowerCase().includes(this.search.toLowerCase())
          })
        },
        computedCourses() {
          this.courses.map((b) => {
            if (b.course_info.length > 90) {
              b.course_info = b.course_info.substring(0, 90) + "..."
            }
            return b
          })

          function compareAlpha(a, b) {
            if (a.course_name < b.course_name) {
              return -1
            } else if (a.course_name > b.course_name) {
              return 1
            } else {
              return 0
            }
          }

          function compareID(a, b) {
            if (a.course_id < b.course_id) {
              return -1
            } else if (a.course_id > b.course_id) {
              return 1
            } else {
              return 0
            }
          }

          function comparePrice(a, b) {
            if (a.course_price < b.course_price) {
              return -1
            } else if (a.course_price > b.course_price) {
              return 1
            } else {
              return 0
            }
          }
          if (this.sorted == "alpha") {
            return this.courses.sort(compareAlpha)
          } else if (this.sorted == "") {
            return this.courses.sort(compareID)
          } else if (this.sorted == "price") {
            return this.courses.sort(comparePrice)
          } else {
            return this.courses
          }
        },
      },
    })
  </script>
</body>

</html>