<div>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VSB</title>
    <link rel="icon" href="/uploads/logo.png" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/css.css" rel="stylesheet" />
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- CDN AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="app">
      <div v-for="info in data">
        <header>
          <nav class="navbar navbar-expand-lg navbar-light" id="backgroud_nav">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img src="/uploads/logo.png" alt="" width="45" height="45" />
              </a>
              <div class="d-flex">
                <a class="nav-link active text-dark fs-6" aria-current="page" href="/sign-up">Sign up</a>
                <a class="nav-link text-dark fs-6" href="/sign-in">Login</a>
              </div>
            </div>
          </nav>
        </header>

        <div class="my-5 text-center alert alert-danger w-50 mx-auto" role="alert" v-if="alert">
          <span><i class="fs-4 bi bi-exclamation-circle text-danger"></i> You haven't signed in. Please sign in
            first.</span>
        </div>

        <img :src=info.preview_img alt="404 not found" width="100%" height="450">

        <div class="container">
          <div class="row mt-5">

            <div class="col-md-7 col-sm-12">
              <div class="row">

                <div class="card" style="width: 30rem;">
                  <div class="card-body">
                    <h3 class="card-title">{{info.course_name}}</h3>
                    <p class="card-text"> {{info.course_info}} </p>
                    <img :src=info.teacher_image width="45" height="45" alt="">
                    <span> {{info.teacher_fname+ ' '+ info.teacher_lname}}</span>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-sm-12 ps-0">
                  <div class="card border-trans" style="width:
                                        35rem;">
                    <div class="card-body">
                      <h5 class="card-title">Description</h5>
                      <p class="card-text">
                        {{info.course_des}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 ps-0">
                  <div class="card border-trans" style="width:
                                        35rem;">
                    <div class="card-body">
                      <h5 class="card-title">What you'll
                        learn</h5>
                      <div class="row">
                        <div class="col-sm-6">
                          <p><i class="bi
                              bi-check-lg"></i> {{info.learn1}}</p>
                          <p><i class="bi
                              bi-check-lg"></i> {{info.learn2}}</p>

                        </div>
                        <div class="col-sm-6">
                          <p><i class="bi
                              bi-check-lg"></i> {{info.learn3}}</p>
                          <p><i class="bi
                              bi-check-lg"></i> {{info.learn4}}</p>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <h5><b>Instructors</b></h5>
                <!-- <p>{{info.teacher_fname + ' ' +
                                    info.teacher_lname}}</p>
                                <p> {{info.position}} </p> -->
              </div>
              <div class="row">
                <div class="card mb-3" style="max-width:
                                    540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <div class="text-center mt-4">
                        <img :src=info.teacher_image class="img-fluid rounded-circle
                                                    " alt="..." width="130" height="130">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <br>
                        <p><i class="bi bi-person-square me-2"></i>{{info.teacher_fname + ' ' +
                          info.teacher_lname}}</p>
                        <p><i class="bi bi-caret-right-fill me-2"></i>{{info.position}} </p>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="card border-trans">
                  <div class="card-body ps-0">
                    <p> {{info.teacher_des}} </p>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-5 col-sm-12">
              <div class="card gray mw-80 w-sm-75" style="width: 100%; ">
                <div class="text-center mt-3">
                  <iframe width="442" height="245" :src="info.preview_video" title="YouTube video player"
                    frameborder="0" allow="accelerometer;
                                        autoplay;
                                        clipboard-write;
                                        encrypted-media; gyroscope;
                                        picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                  <div class="row">
                    <h5 class="card-title"><b> {{info.course_price+'฿'}} </b></h5>
                  </div>
                  <div class="row">

                    <div class="col-sm-6  d-grid gap-2">
                      <button type="button" class="button btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#addtocart">
                        ADD TO CART
                      </button>
                      <div class="modal fade" id="addtocart" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content bg-light">
                            <div class="modal-header">
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body mx-auto">
                              <i class="bi bi-exclamation-triangle iconfooter me-2 text-danger"></i><b
                                class="text-danger">Please sign-in before add to cart.</b>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <a href="/sign-in"><button type="button" class="btn btn-warning">Sign-in</button>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-grid gap-2">
                      <button type="button" class="button btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#buynow">
                        BUY NOW
                      </button>
                      <div class="modal fade" id="buynow" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content bg-light">
                            <div class="modal-header">
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body mx-auto">
                              <i class="bi bi-exclamation-triangle iconfooter me-2 text-danger"></i><b
                                class="text-danger">Please sign-in before buy course.</b>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <a href="/sign-in"><button type="button" class="btn btn-warning">Sign-in</button>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <h6><b>This course includes:</b></h6>
                    <p><i class="bi bi-play-btn"></i> 25
                      hors
                      on-demand video</p>
                    <p><i class="bi bi-file-earmark"></i> 80
                      articles</p>
                    <p><i class="bi bi-download"></i> 26
                      downloadable resources</p>
                    <p><i class="bi bi-code-slash"></i> 8
                      coding
                      exercises</p>
                    <p><i class="bi bi-infinity"></i> Full
                      lifetime
                      access</p>
                    <p><i class="bi bi-phone"></i> Access on
                      mobile
                      and TV</p>
                    <p><i class="bi bi-trophy"></i>
                      Certificate of
                      completion</p>
                  </div>
                </div>
              </div>
              <!-- LIKE BUTTON -->
              <div class="my-3 text-center py-3" style="background-color: pink; border-radius: 20px;">
                <div style="font-size: 100px;">
                  <a @click="addLikeCourse"><i class="bi bi-suit-heart-fill text-danger"></i> </a>
                </div>
                <div class="fs-3">{{info.like}} Liked</div>
              </div>
            </div>
          </div>

          <!-- showคอมเม้น -->
          <div>
            <div style="border-bottom: 5px solid gray">
              <h3>COMMENTS</h3>
            </div>
            <div class="mt-3 row bg-light" style="border-radius: 10px;" v-for="(info, index) in comment">
              <div class="col-3 col-sm-3 col-md-2 text-center mt-2 mb-2"> <img :src="info.image"
                  style="width:100px; height:100px; object-fit:cover;" /> </div>
              <div class="col-9 col-sm-9 col-md-10 mt-2 position-relative">
                <h5>{{info.user_fname}} {{info.user_lname}} <span class="badge bg-success">{{info.role}}</span></h5>
                <span class="text-muted position-absolute top-0 end-0 me-2"> On {{info.comm_date.substring(0, 10)}} at
                  {{info.comm_date.substring(11, 16)}}</span>
                <p>{{info.comment}}</p>
              </div>
            </div>

            <div class="text-center"> <button @click="addComment" class="btn btn-light mt-4">ADD COMMENTS</button></div>
          </div>


        </div>
      </div>
      <br>
      <footer class="mt-5 footer bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="my-3">
                <h4>Course Recommendation</h4>
                <div class="line1"></div>
                <div class="my-3">
                  <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/course/3">
                    <p class="ms-3"> Web Design for Beginners</p>
                  </a>
                  <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/course/15">
                    <p class="ms-3"> Cyber Security </p>
                  </a>
                  <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/course/4">
                    <p class="ms-3"> IELTS Full Course </p>
                  </a>
                  <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/course/7">
                    <p class="ms-3"> SQL- Database Programming </p>
                  </a>
                  <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/course/6">
                    <p class="ms-3"> C++ Programming Course </p>
                  </a>
                  <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/course/10">
                    <p class="ms-3"> Digital marketing </p>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-xs-12">
              <div class="my-3 text-center">
                <h4> Navigate</h4>
                <div class="line2"></div>
                <div class="my-3">
                  <a class="text-decoration-none text-dark" href="/">
                    <p>Home</p>
                  </a>
                  <a class="text-decoration-none text-dark" href="http://localhost:3000/allcourse/">
                    <p>All Courses</p>
                  </a>
                  <a class="text-decoration-none text-dark" href="#" @click="alertlog">
                    <p>My Course</p>
                  </a>
                  <a class="text-decoration-none text-dark" href="#" @click="alertlog">
                    <p>My cart</p>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-xs-12">
              <div class="my-3 text-center">
                <h4> Contact </h4>
                <div class="line2"></div>
                <div class="my-3">
                  <p><i class="text-primary bi bi-envelope-fill"></i> VSB@email.com</p>
                  <p><i class="text-success bi bi-telephone-fill"></i> 02-333-22-32</p>
                  <p><i class="text-warning bi bi-geo-alt-fill"></i> Ministry of Magic Headquarters, Whitehall, London
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-12">
              <hr>
              <div class="my-3 text-center iconfooter">
                <a class="text-decoration-none" href="https://www.facebook.com/harrypottermovie">
                  <i class="bi bi-facebook text-primary mx-2"></i>
                </a>
                <a class="text-decoration-none" href="https://twitter.com/HarryPotterFilm">
                  <i class="bi bi-twitter text-info mx-2"></i>
                </a>
                <a class="text-decoration-none" href="https://github.com/ChutimaNakaew/Project_VSB">
                  <i class="bi bi-github text-dark mx-2"></i>
                </a>
                <a class="text-decoration-none" href="https://www.linkedin.com/in/harry-potter-9b3b89102/">
                  <i class="bi bi-linkedin text-primary mx-2"></i>
                </a>
                <a class="text-decoration-none" href="https://www.youtube.com/watch?v=z4K2F_OALPQ">
                  <i class="bi bi-youtube text-danger mx-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          data: JSON.parse(`<%- data %>`),
          comment: JSON.parse(`<%- comment %>`),
          alert: false,
        },
        methods: {
          addLikeCourse(courseID) {
            axios
              .put(`http://localhost:3000/allcourse/course/${courseID}`)
              .then((response) => {
                console.log("ADD LIKE SUCCES");
                let info = this.data[0]
                info.like = response.data.like

              })
              .catch((error) => (this.error = error.message));
          },
          addLikeCourse() {
            alert("Please login before like")
          },
          addComment() {
            alert("Please login before add comment")
          },
          alertlog() {
            this.alert = true
            setTimeout(() => this.alert = false, 2000);
          }
        }

      })
    </script>
  </body>

  </html>