<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VSB</title>
  <link rel="icon" href="/uploads/logo.png" />
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/css.css" rel="stylesheet" />
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
  <div class="" id="app">
    <header>
      <div v-for="user in users">
        <div class="d-inline">
          <nav class="navbar navbar-expand-lg navbar-light p-0" id="backgroud_nav">
            <div class="container-fluid ">
              <a class="navbar-brand" :href="'/home/' + user.user_id">
                <img src="/uploads/logo.png" alt="" width="45px" height="45px" />
              </a>
              <div class="d-flex">
                <a class="navbar-brand my-auto ms-auto myAnimNav" :href="'/allcourse/' + user.user_id">
                  <span class="text_nav navhover">
                    All Course
                  </span>
                </a>
                <a class="navbar-brand my-auto ms-auto myAnimNav" :href="'/allcourse/' + user.user_id +
                  '/mycourse'">
                  <span class="text_nav navhover">
                    My Course
                  </span>
                </a>
                <a class="my-auto ms-auto text_nav myAnimNav" :href="'/mycart/' + user.user_id">
                  <span class="navhover">
                    My Cart</span>
                </a>
                <li class="nav dropdown">

                  <a class="nav-link dropdown-toggle my-auto ms-auto text_nav navhover myAnimNav" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>
                      <img :src="user.image" alt="" width="45" height="45" class="d-inline-block imgNav" />
                      {{user.user_fname}}</span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li>
                      <a class="dropdown-item" :href="'/profile/' +
                        user.user_id + '/'">Profile</a>
                    </li>
                    <li>
                      <a class="dropdown-item" :href="'/sign-out/' + user.user_id">Logout</a>
                    </li>
                  </ul>
              </div>
          </nav>
        </div>

      </div>
    </header>
    <div class="container">
      <h1 class="my-5 text-center">My Cart</h1>
      <div class="row mb-5" v-if="items != 0">
        <div class="col-12 my-3">
          <small class="text-secondary">{{idCounter}} Course in Cart</small>
        </div>
        <div class="col-6">
          <div class="row border-bottom my-3">
            <div class="col-6">
              <h6>PRODUCT</h6>
            </div>
            <div class="col-5 text-end">
              <h6>PRICES</h6>
            </div>
          </div>
          <div class="row my-4" v-for="item in items">
            <div class="col-5">
              <img :src="item.image" width="100%" />
            </div>
            <div class="col-5">
              <p>{{item.course_name}}</p>
            </div>
            <div class="col-1 text-end">
              <p>{{item.course_price}}฿</p>
            </div>
            <div class="col-1 text-end" v-for="user in users">
              <a :href="'/mycart/' + user.user_id + '/' + item.item_no + '/' + item.order_id">
                <i class="iconcart bi bi-trash text-danger"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card w-75 mx-auto bg-light">
            <h5 class="card-header bg-warning">Summary</h5>
            <div class="card-body">
              <div class="row my-2" v-for="item in items">
                <div class="col-5">
                  <img :src="item.image" width="100%" />
                </div>
                <div class="col-5">
                  <p>{{item.course_name}}</p>
                </div>
                <div class="col-2">
                  <p>{{item.course_price}}฿</p>
                </div>
              </div>
              <div class="row my-3">
                <div class="col-11 border-top mx-auto"></div>
              </div>
              <div class="row" v-for="cart in carts.slice(0,1)">
                <div class="col-8">Total cost</div>
                <div class="col-4 text-end">{{cart.price_total}}฿</div>
              </div>
              <div class="row" v-for="cart in carts">
                <a :href="'/payment/'+ cart.user_id + '/' + cart.order_id" class="btn btn-warning col-11 mx-auto mt-3">Checkout Items</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" v-if="items == 0">
        <div class="nocourse" v-for="user in users">
          <h2>No item in your Cart</h2>
          <a class="btn btn-warning mt-3" :href="'/allcourse/' +
          user.user_id" role="button">Back to Course</a>
        </div>
      </div>
    </div>
    <br>
    <footer class="mt-5 footer bg-light">
      <div class="container" v-for="user in users">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="my-3">
              <h4>Course Recommendation</h4>
              <div class="line1"></div>
              <div class="my-3">
                <a class="text-decoration-none text-dark" :href="'/course/3/' + user.user_id">
                  <p class="ms-3"> Web Design for Beginners</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/15/' + user.user_id">
                  <p class="ms-3"> Cyber Security </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/4/' + user.user_id">
                  <p class="ms-3"> IELTS Full Course </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/7/' + user.user_id">
                  <p class="ms-3"> SQL- Database Programming </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/6/' + user.user_id">
                  <p class="ms-3"> C++ Programming Course </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/10/' + user.user_id">
                  <p class="ms-3"> Digital marketing </p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="my-3 text-center">
              <h4> Navigate</h4>
              <div class="line2"></div>
              <div class="my-3">
                <a class="text-decoration-none text-dark" :href="'/home/' + user.user_id">
                  <p>Home</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/allcourse/' + user.user_id">
                  <p>All Courses</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/allcourse/' + user.user_id + '/mycourse'">
                  <p>My Course</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/mycart/' + user.user_id">
                  <p>My cart</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="my-3 text-center">
              <h4> Contact </h4>
              <div class="line2"></div>
              <div class="my-3">
                <p><i class="text-primary bi bi-envelope-fill"></i> VSB@email.com</p>
                <p><i class="text-success bi bi-telephone-fill"></i> 02-333-22-32</p>
                <p><i class="text-warning bi bi-geo-alt-fill"></i> Ministry of Magic Headquarters, Whitehall, London</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <hr>
            <div class="my-3 text-center iconfooter">
              <a class="text-decoration-none" href="https://www.facebook.com/harrypottermovie">
                <i class="bi bi-facebook text-primary mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://twitter.com/HarryPotterFilm">
                <i class="bi bi-twitter text-info mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://github.com/ChutimaNakaew/Project_VSB">
                <i class="bi bi-github text-dark mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://www.linkedin.com/in/harry-potter-9b3b89102/">
                <i class="bi bi-linkedin text-primary mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://www.youtube.com/watch?v=z4K2F_OALPQ">
                <i class="bi bi-youtube text-danger mx-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
<script>
  var app = new Vue({
    el: "#app",
    data: {
      items: JSON.parse(`<%- items %>`),
      users: JSON.parse(`<%- users %>`),
      carts: JSON.parse(`<%- carts %>`),
      course: JSON.parse(`<%- course %>`),
      idCounter: 0,
    },
    created() {
      this.idCounter = this.items.length
    }
  })
</script>


</html>