<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VSB</title>
  <link rel="icon" href="/uploads/logo.png" />
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/css.css" rel="stylesheet" />
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
  <div class="" id="app">
    <header>
      <div v-for="user in users">
        <div v-if="user.role === 'student'" class="d-inline">
          <nav class="navbar navbar-expand-lg navbar-light p-0" id="backgroud_nav">
            <div class="container-fluid ">
              <a class="navbar-brand" :href="'/home/' + user.user_id">
                <img src="/uploads/logo.png" alt="" width="45px" height="45px" />
              </a>
              <div class="d-flex">
                <a class="navbar-brand my-auto ms-auto myAnimNav" :href="'/allcourse/'
                + user.user_id">
                  <span class="text_nav navhover">
                    All Course
                  </span>
                </a>
                <a class="navbar-brand my-auto ms-auto myAnimNav" :href="'/allcourse/' + user.user_id +
                  '/mycourse'">
                  <span class="text_nav navhover">
                    My Course
                  </span>
                </a>
                <a class="my-auto ms-auto text_nav myAnimNav" :href="'/mycart/' + user.user_id">
                  <span class="navhover">
                    My Cart</span>
                </a>
                <li class="nav dropdown">

                  <a class="nav-link dropdown-toggle my-auto ms-auto text_nav navhover myAnimNav" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>
                      <img :src="user.image" alt="" width="45" height="45" class="d-inline-block imgNav" />
                      {{user.user_fname}}</span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li>
                      <a class="dropdown-item" :href="'/profile/' +
                        user.user_id + '/'">Profile</a>
                    </li>
                    <li>
                      <a class="dropdown-item" :href="'/sign-out/' + user.user_id">Logout</a>
                    </li>
                  </ul>
              </div>
          </nav>

        </div>
        <div v-else-if="user.role === 'teacher'" class="d-inline">
          <nav class="navbar navbar-expand-lg navbar-light p-0" id="backgroud_nav">
            <div class="container-fluid">
              <a class="navbar-brand" :href="'/home/' + user.user_id">
                <img src="/uploads/logo.png" alt="" width="45" height="45" />
              </a>
              <div class="d-flex">
                <a class="navbar-brand my-auto ms-auto myAnimNav" :href="'/allcourse/' + user.user_id">
                  <span class="text_nav navhover">
                    All Course
                  </span>
                </a>
                <a class="text_nav myAnimNav my-auto ms-auto" :href="'/teacher/' + user.user_id">
                  My Course
                </a>
                <li class="nav dropdown">
                  <a class="nav-link dropdown-toggle text_nav my-auto ms-auto myAnimNav" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img :src="user.image" alt="" width="45" height="45" class="d-inline-block imgNav" />
                    {{ user.user_fname }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li>
                      <a class="dropdown-item" :href="'/profile/' +
                        user.user_id + '/'">Profile</a>
                    </li>
                    <li>
                      <a class="dropdown-item" :href="'/sign-out/' + user.user_id">Logout</a>
                    </li>
                  </ul>
                </li>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div class="container mt-5">
      <h1 class="text-dark text-center mt-4">
        <b>VSB ONLINE<br />LEARNING</b>
      </h1>
      <h3 class="mt-5">
        <b>Learn without limits</b>
      </h3>
      <div class="row mt-4">
        <div class="col">
          <p>
            Get that "ready for anything" feeling with more than 15 courses,
            <br />Professional Certificates, and degrees from world-class
            universities <br />and companies.
          </p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col" v-for="user in users">
          <a :href="'/allcourse/' + user.user_id" class="myAnim2
            button_start">Get
            Started <i class="bi bi-arrow-right-circle"></i></a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 mb-3">
          <h4>Explore Course</h4>
        </div>
      </div>
      <div class="row d-flex justify-content-center gap-4">
        <div class="myAnim1 card sm-3 mx-3 p-0" style="max-width: 380px" v-for="course
          in courses.slice(0,6)">
          <div class="row g-0" v-for="user in users">
            <div class="col-md-6">
              <a :href="'/course/' + course.course_id + '/' + user.user_id">
                <img :src="course.image" class="img-fluid" alt="404-not
                  found" />
              </a>
            </div>
            <div class="col-md-6">
              <a class="text-decoration-none text-dark" :href="'/course/' +
                course.course_id + '/' + user.user_id">
                <div class="card-body">
                  <small class="card-title">
                    <b>
                      {{ course.course_name }} </b>
                  </small>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="space">

      </div>
      <div class="section-index">
        <div class="row p-5 d-flex justify-content-center">
          <div class="col-md-4 col-sm-4 m-auto">

            <div class="myAnim1 d-flex justify-content-center">

              <img src="/uploads/home1.png" alt="Girl in a jacket" width="30%" height="30%" class="d-flex
                justify-content-center">

            </div>
            <p class="text-center my-2">
              Get help from experienced professionals to take your course to
              the next level.
            </p>

          </div>
          <div class="col-md-4 col-sm-4 m-auto">

            <div class="myAnim1 d-flex justify-content-center">

              <img src="/uploads/home2.png" alt="Girl in a jacket" width="30%" height="30%" class="d-flex
                justify-content-center">

            </div>
            <p class="text-center my-2">
              Preview and see every change to make it exactly the way you
              want.
            </p>

          </div>
          <div class="col-md-4 col-sm-4 m-auto">

            <div class="myAnim1 d-flex justify-content-center">

              <img src="/uploads/home3.png" alt="Girl in a jacket" width="30%" height="30%" class="d-flex
                justify-content-center">

            </div>
            <p class="text-center my-2">
              VSB online platform learning offering video based
              micro-learning content for teams..

            </p>

          </div>
        </div>
      </div>
      <div class="section-index">
        <div class="p-5">
          <div class="row">
            <h3>Popular Topics</h3>
          </div>
          <div class="row mt-4">
            <div class="col-md-3 col-sm-3 m-auto">
              <div class="card topic" style="width: 18rem;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <img src="/uploads/home4.png" alt="Girl in a jacket" width="100%" height="100%" class="d-flex justify-content-center">
                    </div>
                    <div class="col-sm-9 mt-2">
                      <p>Software Development</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 m-auto">
              <div class="card topic" style="width: 18rem;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <img src="/uploads/home5.png" alt="Girl in a jacket" width="100%" height="100%" class="d-flex justify-content-center">
                    </div>
                    <div class="col-sm-9 mt-2">
                      <p>Business</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 m-auto">
              <div class="card topic" style="width: 18rem;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <img src="/uploads/home6.png" alt="Girl in a jacket" width="100%" height="100%" class="d-flex justify-content-center">
                    </div>
                    <div class="col-sm-9 mt-2">
                      <p>Foreign Language</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 m-auto">
              <div class="card topic" style="width: 18rem;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <img src="/uploads/home7.png" alt="Girl in a jacket" width="100%" height="100%" class="d-flex justify-content-center">
                    </div>
                    <div class="col-sm-9 mt-2">
                      <p>Social Science</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="space">

      </div>
    </div>

    <br>
    <footer class="mt-5 footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="my-3">
              <h4>Course Recommendation</h4>
              <div class="line1"></div>
              <div class="my-3" v-for="user in users">
                <a class="text-decoration-none text-dark" :href="'/course/3/'
                      + user.user_id">
                  <p class="ms-3"> Web Design for Beginners</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/15/'
                      + user.user_id">
                  <p class="ms-3"> Cyber Security </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/4/'
                      + user.user_id">
                  <p class="ms-3"> IELTS Full Course </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/7/'
                      + user.user_id">
                  <p class="ms-3"> SQL- Database Programming </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/6/'
                      + user.user_id">
                  <p class="ms-3"> C++ Programming Course </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/10/'
                      + user.user_id">
                  <p class="ms-3"> Digital marketing </p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="my-3 text-center">
              <h4> Navigate</h4>
              <div class="line2"></div>
              <div class="my-3" v-for="user in users">
                <a class="text-decoration-none text-dark" :href="'/home/' +
                      user.user_id">
                  <p>Home</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/allcourse/'
                      + user.user_id">
                  <p>All Courses</p>
                </a>
                <a v-if="user.role == 'student'" class="text-decoration-none
                      text-dark" :href="'/allcourse/' + user.user_id +
                      '/mycourse'">
                  <p>My Course</p>
                </a>
                <a v-else-if="user.role == 'teacher'" class="text-decoration-none text-dark" :href="'/teacher/'
                      + user.user_id">
                  <p>My Course</p>
                </a>
                <a v-if="user.role == 'student'" class="text-decoration-none
                      text-dark" :href="'/mycart/' + user.user_id">
                  <p>My cart</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="my-3 text-center">
              <h4> Contact </h4>
              <div class="line2"></div>
              <div class="my-3">
                <p><i class="text-primary bi bi-envelope-fill"></i>
                  VSB@email.com</p>
                <p><i class="text-success bi bi-telephone-fill"></i>
                  02-333-22-32</p>
                <p><i class="text-warning bi bi-geo-alt-fill"></i> Ministry
                  of
                  Magic Headquarters, Whitehall, London
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <hr>
            <div class="my-3 text-center iconfooter">
              <a class="text-decoration-none" href="https://www.facebook.com/harrypottermovie">
                <i class="bi bi-facebook text-primary mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://twitter.com/HarryPotterFilm">
                <i class="bi bi-twitter text-info mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://github.com/ChutimaNakaew/Project_VSB">
                <i class="bi bi-github text-dark mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://www.linkedin.com/in/harry-potter-9b3b89102/">
                <i class="bi bi-linkedin text-primary mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://www.youtube.com/watch?v=z4K2F_OALPQ">
                <i class="bi bi-youtube text-danger mx-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function(event) {
      // array with texts to type in typewriter
      var dataText = [
        "Learn without limits",
        "Light tomorrow with today",
        "Every moment is a fresh beginning!",
      ];

      // type one text in the typwriter
      // keeps calling itself until the text is finished
      function typeWriter(text, i, fnCallback) {
        // chekc if text isn't finished yet
        if (i < text.length) {
          // add next character to h1
          document.querySelector("h3").innerHTML =
            text.substring(0, i + 1) + '<span aria-hidden="true"></span>';

          // wait for a while and call this function again for next character
          setTimeout(function() {
            typeWriter(text, i + 1, fnCallback);
          }, 100);
        }
        // text finished, call callback if there is a callback function
        else if (typeof fnCallback == "function") {
          // call callback after timeout
          setTimeout(fnCallback, 900);
        }
      }
      // start a typewriter animation for a text in the dataText array
      function StartTextAnimation(i) {
        if (typeof dataText[i] == "undefined") {
          setTimeout(function() {
            StartTextAnimation(0);
          }, 20000);
        }
        // check if dataText[i] exists
        if (i < dataText[i].length) {
          // text exists! start typewriter animation
          typeWriter(dataText[i], 0, function() {
            // after callback (and whole text has been animated), start next text
            StartTextAnimation(i + 1);
          });
        }
      }
      // start the text animation
      StartTextAnimation(0);
    });

    var app = new Vue({
      el: "#app",
      data: {
        courses: JSON.parse(`<%- courses %>`),
        users: JSON.parse(`<%- users %>`),
      },
    });
  </script>
</body>

</html>