<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Payment</title>
  <link rel="icon" href="/uploads/logo.png" />
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/css.css" rel="stylesheet" />
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
  <div class="" id="app">
    <header>
      <div v-for="user in users">
        <div class="d-inline">
          <nav class="navbar navbar-expand-lg navbar-light p-0" id="backgroud_nav">
            <div class="container-fluid ">
              <a class="navbar-brand" :href="'/home/' + user.user_id">
                <img src="/uploads/logo.png" alt="" width="45px" height="45px" />
              </a>
              <div class="d-flex">
                <a class="navbar-brand my-auto ms-auto myAnimNav" :href="'/allcourse/' + user.user_id">
                  <span class="text_nav navhover">
                    All Course
                  </span>
                </a>
                <a class="navbar-brand my-auto ms-auto myAnimNav" :href="'/allcourse/' + user.user_id +
                  '/mycourse'">
                  <span class="text_nav navhover">
                    My Course
                  </span>
                </a>
                <a class="my-auto ms-auto text_nav myAnimNav" :href="'/mycart/' + user.user_id">
                  <span class="navhover">
                    My Cart</span>
                </a>
                <li class="nav dropdown">

                  <a class="nav-link dropdown-toggle my-auto ms-auto text_nav navhover myAnimNav" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>
                      <img :src="user.image" alt="" width="45" height="45" class="d-inline-block imgNav" />
                      {{user.user_fname}}</span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li>
                      <a class="dropdown-item" :href="'/profile/' +
                        user.user_id + '/'">Profile</a>
                    </li>
                    <li>
                      <a class="dropdown-item" :href="'/sign-out/' + user.user_id">Logout</a>
                    </li>
                  </ul>
              </div>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <h1 class="mt-5">CHECKOUT</h1>
      <div class="row" v-for="cart in carts">
        <div class="col-7"></div>
        <h3 class="col-5 ps-4 text-center text-warning">Total: {{cart.price_total}}฿</h3>
      </div>
      <div class="card w-75 mx-auto">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
              <button class="nav-link active text-dark" data-bs-toggle="tab" data-bs-target="#bank" type="button">Internet & Mobile Banking</button>
            </li>
            <li class="nav-item">
              <button class="nav-link text-dark" data-bs-toggle="tab" data-bs-target="#qrcode" type="button">QR Code</button>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="bank" role="tabpanel">
              <div class="row my-5 mx-5 px-5">
                <div class="col-6 px-5">
                  <img src="/uploads/kma.png" width="80vw" />
                  <div class="my-2">Krungsri Bank (KMA)</div>
                  <div class="my-2">account number: 123-4-56789-0</div>
                  <div class="my-2">account name: VSB Account</div>
                </div>
                <div class="col-6 px-5">
                  <img src="/uploads/bbl.jpg" width="80vw" />
                  <div class="my-2">Bangkok Bank (BBL)</div>
                  <div>account number: 123-4-56789-0</div>
                  <div class="my-2">account name: VSB Account</div>
                </div>
              </div>
              <div class="row my-5 mx-5 px-5">
                <div class="col-6 px-5">
                  <img src="/uploads/kbank.png" width="80vw" />
                  <div class="my-2">Kasikorn Bank (KBANK)</div>
                  <div>account number: 123-4-56789-0</div>
                  <div class="my-2">account name: VSB Account</div>
                </div>
                <div class="col-6 px-5">
                  <img src="/uploads/ktb.png" width="80vw" />
                  <div class="my-2">Krungthai Bank (KTB)</div>
                  <div>account number: 123-4-56789-0</div>
                  <div class="my-2">account name: VSB Account</div>
                </div>
              </div>
              <div class="row my-5 mx-5 px-5">
                <div class="col-6 px-5">
                  <img src="/uploads/scb.png" width="80vw" />
                  <div class="my-2">Siam Commercial Bank (SCB)</div>
                  <div>account number: 123-4-56789-0</div>
                  <div class="my-2">account name: VSB Account</div>
                </div>
                <div class="col-6 px-5">
                  <img src="/uploads/ttb.png" width="80vw" />
                  <div class="my-2">TMB Thanachart Bank (TTB)</div>
                  <div>account number: 123-4-56789-0</div>
                  <div class="my-2">account name: VSB Account</div>
                </div>
              </div>
              <div class="row mt-5">
                <button class="btn btn-warning col-6 mx-auto" data-bs-toggle="modal" data-bs-target="#pay">Make Payment</button>
                <div class="modal fade" id="pay" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Add Payment Slip</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body" v-for="cart in carts">
                        <form class="needs-validation" novalidate :action="'/payment/' + cart.user_id + '/' + cart.order_id" method="POST" enctype="multipart/form-data">
                          <div class="my-2">
                            <label class="form-label">Account Payment</label>
                            <select class="form-select" name="account" required>
                              <option class="text-secondary" value="">Select Bank Account</option>
                              <option value="KMA">KMA</option>
                              <option value="BBL">BBL</option>
                              <option value="KBANK">KBANK</option>
                              <option value="KTB">KTB</option>
                              <option value="SCB">SCB</option>
                              <option value="TTB">TTB</option>
                            </select>
                            <div class="invalid-feedback"> Please select your bank. </div>
                          </div>
                          <div class="file my-2">
                            <label class="form-label" for="customFile">Payment Slip</label>
                            <input type="file" class="form-control" id="customFile" name="slip" required />
                            <div class="invalid-feedback"> Please send your slip. </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-warning">Save changes</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="qrcode" role="tabpanel">
              <div class="container">
                <img class="mx-auto d-block" src="https://promptpay.io/0969095516.png/20" />
                <div class="my-2 text-center">account number: 123-4-56789-0</div>
                <div class="my-2 text-center">account name: VSB Account</div>
                <div class="row mt-3">
                  <button class="btn btn-warning col-6 mx-auto" data-bs-toggle="modal" data-bs-target="#pay1">Make Payment</button>
                  <div class="modal fade" id="pay1" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add Payment Slip</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" v-for="cart in carts">
                          <form class="needs-validation" novalidate :action="'/payment/' + cart.user_id + '/' + cart.order_id" method="POST" enctype="multipart/form-data">
                            <div class="my-2">
                              <label class="form-label">Account Payment</label>
                              <select class="form-select" name="account">
                                <option selected value="qrcode">QR Code Payment</option>
                              </select>
                            </div>
                            <div class="file my-2">
                              <label class="form-label" for="customFile">Payment Slip</label>
                              <input type="file" class="form-control" id="customFile" name="slip" required />
                              <div class="invalid-feedback"> Please send your slip. </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-warning">Save changes</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <footer class="mt-5 footer bg-light">
      <div class="container" v-for="user in users">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="my-3">
              <h4>Course Recommendation</h4>
              <div class="line1"></div>
              <div class="my-3">
                <a class="text-decoration-none text-dark" :href="'/course/3/' + user.user_id">
                  <p class="ms-3"> Web Design for Beginners</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/15/' + user.user_id">
                  <p class="ms-3"> Cyber Security </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/4/' + user.user_id">
                  <p class="ms-3"> IELTS Full Course </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/7/' + user.user_id">
                  <p class="ms-3"> SQL- Database Programming </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/6/' + user.user_id">
                  <p class="ms-3"> C++ Programming Course </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/10/' + user.user_id">
                  <p class="ms-3"> Digital marketing </p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="my-3 text-center">
              <h4> Navigate</h4>
              <div class="line2"></div>
              <div class="my-3">
                <a class="text-decoration-none text-dark" :href="'/home/' + user.user_id">
                  <p>Home</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/allcourse/' + user.user_id">
                  <p>All Courses</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/allcourse/' + user.user_id + '/mycourse'">
                  <p>My Course</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/mycart/' + user.user_id">
                  <p>My cart</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="my-3 text-center">
              <h4> Contact </h4>
              <div class="line2"></div>
              <div class="my-3">
                <p><i class="text-primary bi bi-envelope-fill"></i> VSB@email.com</p>
                <p><i class="text-success bi bi-telephone-fill"></i> 02-333-22-32</p>
                <p><i class="text-warning bi bi-geo-alt-fill"></i> Ministry of Magic Headquarters, Whitehall, London</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <hr>
            <div class="my-3 text-center iconfooter">
              <a class="text-decoration-none" href="https://www.facebook.com/harrypottermovie">
                <i class="bi bi-facebook text-primary mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://twitter.com/HarryPotterFilm">
                <i class="bi bi-twitter text-info mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://github.com/ChutimaNakaew/Project_VSB">
                <i class="bi bi-github text-dark mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://www.linkedin.com/in/harry-potter-9b3b89102/">
                <i class="bi bi-linkedin text-primary mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://www.youtube.com/watch?v=z4K2F_OALPQ">
                <i class="bi bi-youtube text-danger mx-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
<script>
  var app = new Vue({
    el: "#app",
    data: {
      users: JSON.parse(`<%- users %>`),
      carts: JSON.parse(`<%- carts %>`),
    },
  })
</script>

<script>
  (function() {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function(form) {
        form.addEventListener('submit', function(event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>

</html>