<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="icon" href="../uploads/logo.png" />
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/css.css" rel="stylesheet" />
    <script src="../js/bootstrap.bundle.js"></script>
  </head>
  
  <body>
    <div class="container">
      <h1 class="text-center my-5">VSB</h1>
          <div class="card w-75 mx-auto">
            <h3 class="card-header text-center py-3 bg-warning">Forgot Password</h3>
            <div class="card-body">
              <div class="row">
                <div class="col-5 justify-content-center">
                  <img src="../uploads/logobig.png" width="100%" />
                </div>
                <form action="/reset_password" method="POST" class="col-7 needs-validation" novalidate>
                <div class="my-4 text-center">
                    <p>Enter the email address you use on VSB. <br>We'll send you a link to reset your password.</p>
                </div>
                  <div class="mt-3" >
                    <label class="form-label">Email</label>
                    <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email" class="form-control" name="email" value="" required />
                    <div class="invalid-feedback mb-3">Please enter your email</div>
                  <div class="d-grid my-4">
                    <button type="submit" class="button btn btn-primary">Reset Password</button>
                  </div>
                </div>
                  <div class="text-secondary text-center my-1">
                    Back To <a class="link-warning text-decoration-none" href="/sign-in">Sign in</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
  </script>
</html>