<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign up</title>
  <link rel="icon" href="../uploads/logo.png" />
  <link href="../css/bootstrap.css" rel="stylesheet" />
  <link href="../css/css.css" rel="stylesheet" />
  <script src="../js/bootstrap.bundle.js"></script>
</head>

<body>
  <div class="container" id="app">
    <% if (message.length > 0) { %>
      <div class="w-50 mx-auto alert alert-danger mt-3 text-center alert-dismissible fade show">
        <i class="bi bi-exclamation-triangle-fill text-danger iconcart"></i>
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
    <h1 class="text-center my-5"><a class="text-decoration-none text-dark" href="/">VSB</a></h1>
    <div class="card w-75 mx-auto my-5">
      <h3 class="card-header text-center py-3 bg-warning">Sign up</h3>
      <div class="card-body">
        <div class="row d-flex justify-content-center">
          <form class="col-8 needs-validation " action="/sign-up" method="POST" novalidate>
            <div class="my-2">
              <label class="form-label">Firstname</label>
              <input pattern="[a-zA-Z]{3,}" type="text" class="form-control" name="fname" value="" required />
              <div class="invalid-feedback mb-3">Please enter your firstname at least 3 characters.</div>
            </div>
            <div class="my-2">
              <label class="form-label">Lastname</label>
              <input pattern="[a-zA-Z]{3,}" type="text" class="form-control" name="lname" value="" required />
              <div class="invalid-feedback mb-3">Please enter your lastname at least 3 characters.</div>
            </div>
            <div class="my-2">
              <label class="form-label">Email</label>
              <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email" class="form-control" name="email" value="" required />
              <div class="invalid-feedback mb-3">Please enter your email</div>
            </div>
            <div class="my-2">
              <label class="form-label">Password</label>
              <input pattern="(?=.*\d)(?=.*[a-zA-z]).{8,}" type="password" class="form-control mb-2" name="password" value="" required />
              <div class="invalid-feedback mb-3">Please enter your password using a-z, A-Z, 0-9 at least 8 characters.</div>
            </div>
            <div class="my-2">
              <label class="form-label">Date of Birth</label>
              <input type="date" class="form-control" name="dob" value="" required />
              <div class="invalid-feedback mb-3">Please select your birth</div>
            </div>
            <div class="my-3">
              <div>
                <label class="form-label">Gender</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="male" required />
                <label class="form-check-label">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="female" required />
                <label class="form-check-label">Female</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="other" required />
                <label class="form-check-label">Other</label>
              </div>
            </div>
            <div class="my-3">
              <div>
                <label class="form-label">Role</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="role" value="student" required />
                <label class="form-check-label">Learner</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="role" value="teacher" required />
                <label class="form-check-label">Teacher</label>
              </div>
            </div>
            <div class="d-grid my-4">
              <button type="submit" class="button btn btn-primary">Sign up</button>
            </div>
            <div class="text-secondary text-center my-3">
              Already on VSB ? <a class="link-success text-decoration-none" href="/sign-in">Login</a>
            </div>
            <a href="/" class="text-decoration-none">
              <div class="text-center my-3 text-secondary">
                Back to Home <i class="text-warning bi bi-house-fill fs-4"></i>
              </div>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function(form) {
        form.addEventListener('submit', function(event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>

</html>